@import "sdk";

@utility fieldset {
    @apply w-full;
}

@utility file-input {
    @apply border-white w-full;

    @variant focus {
        outline: none;
    }
}

@utility grid-folder-items {
    @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-3 mt-6;

    .folder-item {
        @apply relative aspect-square;

        .btn-folder-item {
            @apply btn flex-col gap-2 p-2 h-full w-full normal-case;
        }

        svg path {
            filter: drop-shadow(0px 0px 1px rgb(0, 0, 0.2));
        }
    }
}

@utility wrapper {
    @apply absolute flex flex-col inset-0;
}
